:root {
  /** Font family **/
  --ion-font-family: 'Nunito Sans', sans-serif;

  /** Primary (MealMate Orange) **/
  --ion-color-primary: #FF7235;
  --ion-color-primary-rgb: 255, 114, 53;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e0642f;
  --ion-color-primary-tint: #ff8049;

  /** secondary (Medium Dark) **/
  --ion-color-secondary: #483129;
  --ion-color-secondary-rgb: 72, 49, 41;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3f2b24;
  --ion-color-secondary-tint: #5a463e;

  /** background (App Page BG) **/
  --ion-background-color: #f8f6f4;
  --ion-background-color-rgb: 248, 246, 244;
  --ion-text-color: #483129;
  --ion-text-color-rgb: 72, 49, 41;

  /** Global MealMate Variables **/
  --mm-primary: #FF7235;
  --mm-primary-light: #FFB088;
  --mm-primary-bg: #FFFAF7;
  --mm-primary-surface: #FFF5EE;
  --mm-brand-orange: #F97316;

  --mm-text-dark: #483129;
  --mm-text-muted: #8E7C76;

  --mm-bg-page: #f8f6f4;
  --mm-bg-card: #ffffff;

  --mm-green: #4ade80;
  --mm-green-bg: #E8F5E9;
  --mm-green-text: #4caf50;
  --mm-red: #f87171;
  --mm-red-bg: #FFF5F5;
  --mm-blue: #2196F3;
  --mm-yellow: #fbbf24;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}